<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <!-- vue.js -->
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <!-- file upload -->
  <script src="https://unpkg.com/vue-upload-component"></script>

  <!-- bootstrap vue -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- clipboard -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>

  <!-- http get/post library -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- パーサーレベルコメントでintellijの63342とspringの6443での確認をスイッチ -->
  <!--/*-->
  <link rel="stylesheet" href="../../static/front/css/site.css">
  <script src="../../static/front/js/define.local.js"></script>

  <script src="../../static/front/js/main.js"></script>
  <!--*/-->

  <!--/*/
  <link rel="stylesheet" href="/front/css/site.css">
  <script src="/front/js/define.thymleaf.js"></script>

  <script src="/front/js/main.js"></script>
  /*/-->
</head>
<body>

<div id="root">
  <!-- 画面中央に寄せる -->
  <div class="container">
    <!-- main -->
    <router-view></router-view>
  </div>
</div>

<!-- main -->
<script>
  const routes = [
    {path: '/upload', component: uploadImage, name: 'upload-image'}
  ];

  const router = new VueRouter({
    routes
  });

  // newするよりも先
  Vue.component('file-upload', VueUploadComponent);

  const root = new Vue({
    router
  }).$mount('#root');


</script>
