<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <!-- vue.js -->
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <!-- time -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/locale/ja.min.js"></script>

  <!-- bootstrap vue -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

  <!-- http get/post library -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- ページネーション -->
  <script src="https://unpkg.com/vuejs-paginate@latest"></script>

  <!-- main -->
  <link rel="stylesheet" href="/manager/css/site.css">
  <script src="/manager/js/main.js"></script>

</head>
<body>

<div id="root">
  <!-- 画面中央に寄せる -->
  <div class="container">

    <!-- main -->
    <router-view></router-view>
  </div>
</div>

<!-- main -->
<script>
  const routes = [
    {path: '/list', component: listImage, name: 'list-image'}
  ];

  const router = new VueRouter({
    routes
  });

  // newするよりも先
  Vue.component('paginate', VuejsPaginate);

  const root = new Vue({
    router
  }).$mount('#root');


</script>
